<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<form asp-action="Create" role="form" enctype="multipart/form-data">
				<div class="form-group">
					<label for="kode">
						KODE BARANG 
					</label>
					<input type="text" class="form-control" id="Kode" name="Kode" />
				</div>
				
				<div class="form-group">
					<label for="Nama">
						NAMA BARANG
					</label>
					<input type="text" class="form-control" id="Nama" name="Nama"  />
				</div>
				<div class="form-group">
					 
					<label for="Nama">
						HARGA BARANG
					</label>
					<input type="text" class="form-control" id="Harga" name="Harga"  />
				</div>
				<div class="form-group">
					<label for="Nama">
						DESKRIPSI
					</label>
					<input type="text" class="form-control" id="Description" name="Description"  />
				</div>
				<div class="form-group">
					 
					<label for="FileImage">
						FILE IMAGE
					</label>
					<input type="file" class="form-control-file" id="FileImage" name="FileImage" />
					
				</div>
				<button type="submit" class="btn btn-primary">
					Submit
				</button>
			</form>
		</div>
	</div>
</div>